.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  background-color: #c6c6c6;
  border: outset 10px white;
}

.countStyle {
  display: flex;
  width: 333px;
  height: 79px;
  border: inset 8px white;
}

.numStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: url(../assets/images/icons.png) no-repeat;
  background-color: #c6c6c6;
  border: solid 1.5px #898989;
}

.gameStyle {
  display: flex;
  width: 331px;
  height: 331px;
  border: inset 8px white;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
  background-color: #c6c6c6;
}

.tileStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #c6c6c6;
  border: outset 5px white;
}

.flagStyle {
  width: 30px;
  height: 30px;
  background: url(../assets/images/icons.png) no-repeat;
}
