@import url('https://cdn.jsdelivr.net/npm/dseg@0.46.0/css/dseg.min.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  background-color: #c6c6c6;
  border: outset 10px white;
}

.topStyle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 333px;
  height: 79px;
  border: inset 8px white;
}

.numStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: url(../assets/images/icons.png) no-repeat;
  background-color: #c6c6c6;
  border: solid 1.5px #898989;
}

.gameStyle {
  width: 331px;
  height: 331px;
  border: inset 8px white;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
  background-color: #c6c6c6;
}

.tileStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #c6c6c6;
  border: outset 5px white;
}

.flagStyle {
  display: flex;
  width: 25px;
  height: 25px;
  background: url(../assets/images/icons.png) no-repeat;
  background-size: 325px;
}

.faceStyle {
  display: flex;
  width: 50px;
  height: 50px;
  background: url(../assets/images/icons.png) no-repeat;
  background-size: 560px;
  border: outset 5px white;
}

.faceStyle:active {
  border: outset 5px #898989;
}

.countStyle {
  display: grid;
  place-items: center;
  width: 80px;
  height: 50px;
  font-family: 'DSEG7-Classic-MINI', sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: red;
  letter-spacing: 0;
  background-color: black;
  border: inset 5px white;
}

.timerStyle {
  display: grid;
  place-items: center;
  width: 80px;
  height: 50px;
  font-family: 'DSEG7-Classic-MINI', sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: red;
  letter-spacing: 0;
  background-color: black;
  border: inset 5px white;
}

.level {
  display: flex;
  width: 80px;
  height: 30px;
  border: 5px black;
}

.levelCustom {
  display: flex;
  width: 80px;
  height: 30px;
  border: 5px black;
}

.levelMom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 30px;
}

.levelCustom label {
  margin-right: 5px;
  font-size: 16px; /* ラベルのフォントサイズを調整 */
}

.levelCustom input {
  width: 40px; /* 入力フィールドの幅を調整 */
  height: 30px; /* 入力フィールドの高さを調整 */
  margin-right: 10px;
  font-size: 16px; /* 入力フィールドのフォントサイズを調整 */
  text-align: center;
}

.levelCustom button {
  width: 800px; /* ボタンの幅を調整 */
  height: 35px; /* ボタンの高さを調整 */
  margin-left: 10px; /* ボタンの左側に余白を追加 */
  font-size: 10px;
  writing-mode: horizontal-tb; /* これが重要 */
  transform: rotate(0);
  white-space: nowrap;
}
